{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'album/album.css' %}">
    <title>Document</title>
</head>
<body>
    {% for album in albums %}
        <p>
        <span class="albumArtist">This is an album by <a href="http://127.0.0.1:8000/artists">{{ album.artist }}</a>, </span>
        <span class="albumTitle">{{ album.title }}. </span>
        <span class="albumDate">This came out the year {{ album.release_date }}</span>
        <br>
        <br>
        </p>
    {% endfor %}
</body>
</html>